body {
    background:#001529;
    padding:0 10px;
    margin:0;
}
ul {
    list-style:none;
    padding:0;
}
table {
    width:100%;
    height:100%;
}
.trrow {
    height:18px;
    color:#666;
}
.trrow.head {
    color:#888;
    border-bottom:solid #EEE 1px;
}
td {
    font-size:12px;
    /* text-align:center; */
}
.exchangebox {
    margin-bottom:5px;
}
.exchangebox > div {  
    background:#FFF;
    padding-top:5px;
}